{% extends "layouts/default.html" %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h1> GISalmon [<strong>ALPHA</strong>]</h1>
<h2> Version 1.0.0 will be released soon.</h2>

<br />

<a href="/e_map.html">ESRI Satellite Imagery [PROTOTYPE]</a>
<br />
<a href="/g_map.html">Google Earth Imagery [PROTOTYPE]</a>
<br />
<a href="https://github.com/kingschultz21/GISalmon">Project Github Repository</a>
<br />

{% endblock content %}

